.loose-container{
    width: 30%;
    background: red;
    color: white;
    padding: .5rem 0;
    margin-bottom: .5rem;
}
.loose-text-main{
    text-align: center;
    font-size: 1.5rem;
}
.loose-text-sub{
    text-align: center;
    font-size: 1rem;
}